@font-face {
    font-family: StarWars;
    src: url('/assets/font/Starjedi.ttf') format('truetype'); /* Ruta al archivo .ttf */
  }

body{
    background-image: url(http://untroubled.org/backgrounds/space/stars.gif);
}

h2 {
  color: #fff23e;
  font-family: 'StarWars';
}

#form-container {
  margin: 0 auto;
  background-color: #0b0b0b;
  display: flex;
  width: 60vw;
  margin-top: 100px;
  margin-bottom: 20px;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}


/* Estilos para dispositivos pequeños */
@media screen and (max-width: 600px) {
  #form-container {
      max-width: 90%;
  }
}

/* Estilos para etiquetas */
label {
  margin-bottom: 10px ;
  color: #fff23e;
  display: block;
}

/* Estilos para input y botón */
input[type="text"],
input[type="password"],
button[type="submit"],
input[type="email"] {
  width: 25vw;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #fff23e;
  background-color: #0b0b0b;
  color: #fff23e;
  border-radius: 5px;
}

button[type="submit"] {
  background-color: #fff23e;
  border: none;
  color: #0b0b0b;
  margin-left: 10px;
  margin-top: 25px;
  margin-bottom: 35px;
  font-family: 'StarWars';
  align-self: center;
}

/* Estilos para enlaces */
a {
  color: #fff23e;
  display: block;
  text-align: center;
  text-decoration: none;
  margin-bottom: 10px;
}

/* Estilos para dispositivos pequeños */
@media screen and (max-width: 600px) {
  a {
      font-size: 14px;
  }
}
