body{
    background-color: black;
}

/********HEADER*********/

/***SECTION 1***/

.section1{
   min-height: 400px;
   margin: 30px 0px;
}

.section1-bg-init {
    background-image: url(https://lumiere-a.akamaihd.net/v1/images/ahsoka-new-premiere-featured_39ece0a0.jpeg?region=0,40,1280,640);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container_init{
    width: 50%;
    height: 100%;
    min-height: 400px;
    align-items: end;
    background-color:rgba(0, 0, 0, 0.623);
    padding: 25px 25px 25px 20px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 400;
    transition: 0.3s ease-in;
}

.container_init:hover{
    background-color: black;
    opacity: 0.8;
    transform: scale(1.02);
    margin: 2px;
}
#text-init{
    padding-top: 30px;
    color: white;
    width: 90%;
    /* height: 100%; */
}
/* Estilo adicional para los elementos dentro de #text-init */
#text-init > * {
    margin-bottom: 20px; /* Espaciado inferior de 10 píxeles entre elementos */
}

.text-init,p{
    margin-top: 30px;
}
/* Botón pelicula destacada */
:root {
    --accent: #FADE4B;
}
.init-button {
    box-shadow: 0 0 0 0 var(--accent);
    outline: 2px solid;
    color: white;
    outline-color: white;
    outline-offset: 0;
    text-shadow: none;
    cursor: pointer;
    font-size: 1rem;
    line-height: 2.5rem;
    max-width: 160px;
    width: 50%;
    font-weight: 600;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    transition: all 550ms cubic-bezier(
        .36, .63, .5, .73
    );
    margin: 20px 0px;
}

.init-button:hover {
    box-shadow: 0 0 0 2px var(
        --accent
    );
    outline-color: rgba(
        255, 255, 255, 0
    );
    outline-offset: 15px;
    color: var(--accent);
}


/************MAIN************/

/** SEARCH INPUT **/

.search-content{
    display: flex;
    justify-content: center;
}

.container-search {
    display: flex;
    justify-content: center;
    align-items: center;
    width: min-content;
	padding: 10px;
}

input {
	height: 30px;
	width: 200px;
	color: #000;
	font-size: 20px;
	border: 1px solid #48494a;
}

input {
    box-shadow: 0 0 0 0 var(--accent);
    outline: 2px solid;
    outline-color: white;
    outline-offset: 0;
    cursor: pointer;
    font-size: 1rem;
    line-height: 2.5rem;
    font-weight: 600;
    position: relative;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    transition: all 550ms cubic-bezier(
        .36, .63, .5, .73
    );
}

input:hover {
    box-shadow: 0 0 0 2px var(
        --accent
    );
    outline-color: rgba(
        255, 255, 255, 0
    );
    outline-offset: 15px;
    
}

.btn-search {
    display: flex;
    align-items: center;
    justify-content: center;
	width: 40px;
	height:40px;
	background: #48494a;
	line-height: 80px;
	border-radius: 50%;
	text-align: center;
	cursor: pointer;
}

.btn-search i {
	font-size: 20px;
	color: white;
	line-height: 80px;
}


/***SECTION 2: Categorías***/
h2{
    color: #BFBFBF;
}
.sections{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content{
    width: 100%;
    padding:30px;
}

.content-1{
    margin-top: 30px;
}

/* Divisores de Categoría iluminados */

.illuminated-buttons-container {
    display: flex;
    margin: 20px 0;
    
}
.button {
    height: 3px;
    background-color: white;
    border-radius: 10%;
    margin: 0 5px;
    animation: blink-animation 4s infinite;
    box-shadow: 0 0 5px 2.5px rgba(226, 224, 220, 0.5); /* Luz difuminada en el borde */
}
.button1{
    width: 30px;
}
.button2{
    width: 150px;
}
/* hr{
    border: solid 1.5px #48494a;
    width: 70%;
} */

/***SECTION 5***/

.section5-category{
    margin-bottom: 100px;
}