header{
    display: flex;
    margin: 10px 10px;
    background-color: grey;
}

.bg-body{
    background-color: rgb(212, 212, 212);
}

/* contenedor del formulario */
.form-content{
    display: flex;
    width: 20rem;
    height: 30rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5rem 10rem;
    border: solid;
    background-color: black;
    border-radius: 40px;
}

/* titulo del formulario */
.form-heather{
    display: flex;
    color: white;

}
/* Boton del formulario */
.b-send{
    display: flex;
    margin: 10px;
    justify-content: center;
}
/* footer */
.footer-site{
    display: flex;
    background-color: grey;
    justify-content: space-around;
}